.trusted {
  width: 100%;
  background: rgb(249, 249, 255);
  padding: 100px 0 150px;
}

.trusted .cardt {
  background: white;
  height: 150px;
  width: 100%;
  border: 1px solid rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-cardt {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  margin-top: 50px;
}