.ant-layout-header {
    display: flex;
    align-items: center;
    height: 80px !important;
    padding: 0 30px !important;
    background: rgb(251, 251, 255);
    box-sizing: border-box;
}

.dashboard-project-container {
    height: 75vh;
    overflow-y: scroll;
}


.dashboard-project-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}



.dashboard-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.dashboard-title {
    padding: 20px 0 0;
    box-sizing: border-box;
}

.dasboard-card {
    margin: 10px 0;
    width: 32%;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dasboard-card .box {
    width: 60px;
    height: 60px;
    /* background: linear-gradient(180deg, #FABF12 0%, #FB992D 100%); */
    margin-right: -35px;
    z-index: 11;
    border-radius: 10px;
    position: relative;

}

.dasboard-card:nth-child(1) .box {
    background: linear-gradient(180deg, #6a25ff 0%, #090cb8ee 100%);
    box-shadow: 0px 10px 20px rgba(45, 59, 251, 0.4);
}

.dasboard-card:nth-child(1) .box::after {
    background: #1b00a3;
    content: '12';
    color: rgb(255, 255, 255);
    font-weight: 700;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;

}

.dasboard-card:nth-child(2) .box {
    background: linear-gradient(180deg, #FABF12 0%, #FB992D 100%);
    box-shadow: 0px 10px 20px rgba(251, 217, 45, 0.4);
}

.dasboard-card:nth-child(2) .box::after {
    background: #c49119d6;
    content: '12';
    color: rgb(255, 255, 255);
    font-weight: 700;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}



.dasboard-card:nth-child(3) .box {
    background: linear-gradient(180deg, #12fad7 0%, #23d7cb 100%);
    box-shadow: 0px 10px 20px rgba(45, 251, 237, 0.4);
}

.dasboard-card:nth-child(3) .box::after {
    background: #30acae;
    content: '12';
    color: rgb(255, 255, 255);
    font-weight: 700;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}



.dasboard-card .box::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    height: 65%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.dasboard-card .text {
    width: 90%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding-left: 50px;
    flex-direction: column;
}


.dashboard-cards.bottom {
    margin-top: 30px;
}

.dashboard-card-3 {
    width: 32%;
    background: white;
    height: 400px;
    box-shadow: rgba(131, 131, 131, 0.02) 0px 1px 3px 0px, rgba(93, 93, 93, 0.1) 0px 0px 0px 1px;
    border-radius: 6px;
    padding: 15px;
    box-sizing: border-box;
}

.dashboard-card-3 h3 {
    color: rgb(67, 77, 79);
    font-weight: 600;
}

.card-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(237, 233, 233);
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
}

.card-head button {
    padding: 6px 10px;
    background: #014a69;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: 0.3s;

}

.card-head button:hover {
    background: #002f43;

}

.dashboard-card-list-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-card-list-3 .card-list img {
    width: 50px;
    margin-right: 10px;
}

.dashboard-card-list-3 .card-list {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(234, 234, 234);
    display: flex;
    padding: 6px;
    box-sizing: border-box;
}

.dashboard-cards .text h2 {
    color: #23353c;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
}

.dashboard-cards .text p {
    color: #404040;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}


.dashboard-card-list-3 .card-list .text h2 {
    color: #002f43;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
}

.dashboard-card-list-3 .card-list .icons {
    margin-left: auto;
    align-self: center;
}

.dashboard-card-list-3 .card-list .icons .anticon {
    font-size: 20px;
    cursor: pointer;
    color: #002f43;
}

/* about */
.dashboard-about {
    padding: 0 20px;
    box-sizing: border-box;
}


.dashboard-home-content {
    margin-top: 15px;
}

.dashboar-heading {
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: space-between;
    height: fit-content;
}

.dashboar-heading-text {

    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.dashboar-heading-text .anticon {
    font-size: 20px;
    margin-top: 7px;
    color: #014a69;
}

.dashboar-heading h1 {
    font-size: 26px;
    font-weight: 600;
    color: #014a69;
    font-family: 'Source Sans Pro', sans-serif;
}

.dashboar-heading p {
    font-size: 16px;
    font-weight: 400;
    color: #6e6e6e;
    font-family: 'Source Sans Pro', sans-serif;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile p {
    font-size: 18px;
    font-weight: 600;
    color: #0f5e80;
    font-family: 'Source Sans Pro', sans-serif;
}

.profile span {
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}



.Whychoose {
    padding: 30px 0;
    box-sizing: border-box;
}

.createNewBtn,
.projectBtn {
    padding: 10px 25px;
    background: #002f43;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


.dashboard-projects.ready {
    margin-top: 30px;
}

.dashboard-projects.ready .ant-table {
    background: white !important;
}

.dashboard-projects.ready .ant-table tbody tr {}

.dashboard-projects.ready .ant-table thead {
    background: white !important;
}

.dashboard-projects.ready .ant-table a {
    color: #002f43;
    font-family: 'Source Sans Pro', sans-serif;
}


.dashboard-projects.ready .ant-table-wrapper .ant-table-thead>tr>th {
    color: rgba(255, 255, 255, 0.88) !important;
    background: #162553 !important;
}

.tableCards {
    margin-top: 20px;
    width: 100%;
}

.tableCardsHeader {
    background: #002f43;
    padding: 15px 25px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.tableCardsHeader h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.tableSingleCard.head {
    background: none;
    box-shadow: none;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
}

.tableSingleCard {
    width: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: 0.3s;
    text-align: center;

}

.tableSingleCard span {
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableSingleCard:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 10px 15px 16px;
}

.tableSingleCard span.slno {
    width: 7% !important;
}

.tableSingleCard.users span.slno {
    width: 7% !important;

}

.tableSingleCard.users span {
    font-size: 15px;
    font-weight: 500;
}



.tableSingleCard.users {
    text-align: center;
}


.tableSingleCard span {
    width: 30%;
    text-align: center;
    border-right: 1px solid rgb(219, 219, 219);
    font-family: 'Source Sans Pro', sans-serif;
}


.tableSingleCard.users span {
    width: 30% !important;
    text-align: center;
    border-right: 1px solid rgb(219, 219, 219);
}


.tableSingleCard span:last-child {
    border: none;
}

.ant-modal-footer {
    /* display: none; */
}

.after-sale-content {
    margin-top: 20px;
}

.message-box {
    background: white;
    height: 400px;
}

.message-box .details {
    padding: 0px 25px;
}

.message-box .details p {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

.ant-card .ant-card-head {
    color: #004765d8 !important;
    font-weight: 500 !important;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #014a69;
}

.profile-image img {
    width: 100%;
    height: 100%;
}

.tableSingleCard .ant-btn>span {
    display: block;
}

.p-dropdown:not(.p-disabled):hover {
    box-shadow: none !important;
}



.dashboard-project-container .p-dropdown {
    width: 100% !important;
}

.clientsProjectDetails .allItems {
    width: 100%;
    display: flex;
}

.clientsProjectDetails .allItems .singleProjectCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 30px;
}

.clientsProjectDetails .allItems .singleProjectCards .singleCard {
    width: 23%;
    height: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.ant-image {
    margin-top: 15px !important;
    margin-right: 15px !important;
}

.pdf-section {
    padding: 15px;
    border: 1px solid gray;
    width: fit-content;
    margin: 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}