.choose {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgb(243, 243, 243);
    padding-bottom: 50px;
    box-sizing: border-box;
}

.choose .bg-image {
    height: 55%;
    position: absolute;
    left: 0;
    top: 60%;
    width: 270px;
    transform: translateY(-50%);
}

.choose-image {
    width: 100%;
}

.text-card {
    margin-top: 50px;
}

.choose-text {
    width: 95%;
    background: rgb(255, 255, 255);
    height: 260px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}

.leftc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.rightc {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.rightc::after {
    position: absolute;
    content: '';
    height: 0%;
    width: 0;
    background: rgb(255, 178, 0);
    bottom: 0;
    right: 0;
    transition: 0.5s;

}

.rightc::before {
    position: absolute;
    content: '';
    height: 0px;
    width: 0%;
    background: rgb(255, 178, 0);
    right: 0;
    bottom: 0;
    transition: 0.5s;
}

.leftc::after {
    position: absolute;
    content: '';
    height: 0%;
    width: 0px;
    background: rgb(255, 178, 0);
    top: 0;
    transition: 0.5s;

}

.leftc::before {
    position: absolute;
    content: '';
    height: 0px;
    width: 0%;
    background: rgb(255, 178, 0);
    left: 0;
    top: 0;
    transition: 0.5s;
}

.choose-text:hover .leftc::before,
.choose-text:hover .rightc::before {
    width: 50%;
    height: 5px;


}

.choose-text:hover .leftc::after,
.choose-text:hover .rightc::after {
    height: 50%;
    width: 5px;
}

.choose-text:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.choose-heading {
    margin-top: 100px;
}

.c-content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.cicon {
    width: 80px;
    height: 80px;
    transition: 0.5s;
}

.c-content h3 {
    margin-top: 15px;
    font-weight: 500;
    font-size: 22px;
    color: #555555;
    font-family: 'Poppins', sans-serif !important;
}

.c-content p {
    font-weight: 300;
    font-size: 12px;
    color: #9e9e9e;
    font-family: 'Poppins', sans-serif !important;
    text-align: center;
}

.choose-text:hover .cicon {
    width: 0px;
    height: 0px;
}

.c-content a {
    margin-top: 100px;
    transition: 0.5s;
}

.choose-text:hover .c-content a {
    margin-top: 20px;
    padding: 8px 15px;
    background: #003146;
    color: white;
    display: block;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
}