.category {
    padding: 60px 0;
}


.category-plate {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.single-card {
    width: 100%;
    height: 300px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.single-card:hover .category-image img {
    transform: scale(1.1);
}

.single-card:hover .category-image::after {
    border: 12px solid rgba(243, 243, 243, 0.246);
}

.single-card:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transform: translateY(-10px);
}

.single-card:hover .category-text {
    margin-bottom: 10px;
}



.category-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.category-image::after {
    content: '';
    position: absolute;
    background: transparent;
    border: 8px solid transparent;
    width: 84%;
    height: 85%;
    margin: 10px;
    z-index: 111;
    left: 0;
    top: 0;
    transition: 0.4s;

}

.category-image img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.category-plate .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7315126734287465) 0%, rgba(0, 212, 255, 0) 100%);
    top: 0;
}

.category-text {
    position: absolute;
    bottom: 0px;
    padding: 30px 20px;
    text-align: center;
    transition: 0.3s;
    width: 100%;
}

.category-text h4 {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.ant-tabs-nav-list{
    justify-content: center!important;
}