.heading-h1 {
    width: 100%;
    text-align: center;

}

.heading-h1 h1 {
    font-weight: 700;
    color: #003146;
    font-size: 48px;
    font-family: 'Poppins', sans-serif !important;
}

.heading-h6 {
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
}

.subheading {
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
}

.subheading p {
    margin: 0;
    color: #003146;
    font-size: 18px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
}



.header-img {
    width: 200px;
}

.all-slider {
    margin: 20px 0;
    margin: 0 auto;
}

.single-slide {
    width: 400px;
    height: 350px;
}

.all-slider img {
    width: 50%;
    height: 100%;
    margin: 0 auto;

}

.single-slide {
    padding: 10px;
}

/*  side button   */


.sidebutton {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11111;
    width: 220px;
    font-family: 'Poppins', sans-serif !important;
}

.sidebutton a {
    display: block;
    padding: 10px 15px;
    background: rgb(255, 178, 0);
    width: 100%;
    font-size: 16px;
    position: relative;
    left: 170px;
    transition: all .3s;
    margin: 5px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: white;
    font-family: 'Poppins', sans-serif !important;
    line-height: 0;

}

.sidebutton i {
    font-size: 24px;
    margin-right: 15px;
}


.sidebutton a:hover {
    left: 0px;
    color: white;

}