.c-content p {
    margin-top: 15px;
}

.mid-header-all{
    border-bottom: 1px solid #e7e7e7;
}

@media (min-width:320px) and (max-width:575.98px) {

    .mid-header .container{
        width: 100%;
    }
    .auth-name{
        display: none;
    }
    .mid-header{
        padding:0 15px;
    }
    .mid-header #header{
        width: 80%;
    }
    .mid-header .user-account{
        width: 10%;
        margin-left: 0;
    }
    .nav {
        visibility: hidden;
        display: block;
        background: rgb(255, 255, 255);
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 60px;
        left: 0;
        padding: 22px!important;
        box-sizing: border-box;
        border-top: 1px solid rgb(224, 224, 224);
    }

    .nav.show{
        visibility: visible;
        opacity: 1;
        transition: 0.4s;
    }
    .nav.hide{
        visibility: hidden;
        opacity: 0;
        transition: 0.4s;
        transform: translatex(-150%);
    }
    .mid-header-all{
        z-index: 111;
    }

.nav li{
    padding: 10px 15px;
}
    .site-header #navbar>ul>.menu-item-has-children>a {
        font-size: 18px !important;
    }
    .sub-menu{
        display: none;
    }
    .nav li:hover  .sub-menu{
        display: block;
    }
    .sub-menu li {
        margin-left:15px ;

    }
    .sub-menu li a {
        font-size: 15px !important;
    }
    .navbar-brand {
        width: 160px;
    }
    .mid-header svg{
        font-size: 20px;
        margin-right: 10px;
    }
    .mid-header{
        height: 65px;
    }





    .inoverlay {
        width: 90%!important;
        height: 40%;
        background: #00000069;
        margin-top: -130px;
        position: relative;
        padding: 30px!important;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    }
    
    .inoverlay h1 {
        font-size: 32px!important;
    }
    
    .inoverlay p {

        font-size: 14px;
    }
    
    .inoverlay a {

        font-size: 16px;

    }
    
    .inoverlay h1 span {
        color: rgb(255, 178, 0);
        font-style: italic;
        font-family: 'Oleo Script', cursive;
    }
    














/*  */
    
    .heading-h1 h1 {
        font-size: 26px;
    }

    .header-img {
        width: 140px;
    }

    .top-header {
        display: none;
    }
    .mid-header .logo {
        width: 70%;
        padding: 12px;
    }

    .category-plate {
        padding: 0 35px;
        box-sizing: border-box;
    }

    .single-card {
        width: 100%;
    }

    .about {
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .category .single-card {
        height: 270px;
    }

    .about .detail-heading h2 {
        font-size: 30px;
    }

    .about .detail-heading p {
        font-size: 14px;
        line-height: 20px;
        color: gray;
        font-weight: 500;
    }

    .about .list-right {
        width: 100%;
    }

    .about .detail-list ul li {
        margin-top: 10px;
        font-size: 15px;
    }

    .about .detail-heading::after {
        height: 38%;
    }

    .about .image {
        padding: 0;
    }

    .about .ant-row {
        flex-direction: column-reverse;
    }

    .about .detail-list ul {
        width: 100%;
    }

    .about .detail-list {
        flex-direction: column;
    }

    .about .detail-bottom {
        flex-direction: column;
    }

    .about .detail-bottom p {
        width: 100%;
    }

    .about .detail-bottom .link-btn {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
    }

    .choose .choose-text {
        width: 100%;
    }

    .choose .text-card {
        padding: 35px;
        box-sizing: border-box;
        margin-top: 0;
    }

    .choose-heading {
        margin-top: 50px;
    }

    .banner-user-title h1 {
        font-size: 32px;
        line-height: 1.3;
        display: block;
    }

    .banner-user-title {
        width: 100% !important;
    }

    .banner-user-title p {
        font-size: 14px;
        margin-top: 10px;
        line-height: 1.1;
    }

    .leftb::after {
        width: 3px;
    }

    .leftb::before {
        height: 3px;
        width: 100px;
    }

    .rightb::after {
        width: 3px;
    }

    .rightb::before {
        height: 3px;
        width: 100px;
    }

    .inoverlay {
        width: 80%;
        padding: 50px 20px;
        height: auto;
    }

    .inoverlay a {
        padding: 10px 15px;
        font-size: 14px;
        width: fit-content;
        margin: 15px auto 0;
    }

    .trusted {
        padding: 40px 0 60px;
    }

    .c-content h3 {
        font-size: 20px;
    }

    .trusted .cardt {
        height: 70px;
        padding: 15px 25px;
    }

    .trusted .cardt img {
        width: 80px;
    }

    :root {
        --swiper-navigation-size: 28px;
    }
    .companyprofiletext {
        padding: 25px;

    }

    .companydetails {
        margin: 20px 0;
    }
    .aboutpage {
        padding: 40px 0 0px;
        box-sizing: border-box;
    }
    .expert {
        width: 100%;
        height: 100%;
    }
    .expert .all-carde {
        margin-top: 0px;
        padding: 40px;
        box-sizing: border-box;
    }
    .expert .carde{
        height: 350px;
        margin-top: 15px;
    }
    .csrtext {
        padding: 25px;
    }
    .footer {
        padding: 35px;
    }
    .avialableflats .p-chip {
        width: 100%!important;
        border-radius: 5px !important;
    }
    .p-panelmenu{
        justify-content: center;
        width: 100%!important;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .avialablecard {
        box-sizing: border-box;
        padding: 0 40px ;
    }
    .p-panelmenu .p-panelmenu-panel {
        margin-bottom: 4px;
        width: 45%;
    }
    .image-gallary .gallaryimg {
        height: 90px;
    }
    .flatsdetails .image{
        height: auto;
    }
    .aftersale{
        padding: 25px;
        box-sizing: border-box;
        margin-bottom: 0px;
    }
    .subheading p{
        font-size: 14px;
    }
    .aftersale img{
        display: none;
    }
    .aftersaletext {
        padding: 25px 0;
    }
    .owner{
        padding: 25px;
        box-sizing: border-box;
    }
    .ownertext{
        padding: 25px 0;
    }
    .owner .title-text{
        padding: 25px 0;
    }
    .aftersale .title-text{
        padding: 25px 0;
    }
}

@media (min-width:576px){
    .mid-header svg{
     display: none;
    }
}