.c-content p {
    margin-top: 15px;
}

.mid-header-all{
    border-bottom: 1px solid #e7e7e7;
}

@media (min-width:320px) and (max-width:575.98px) {

    .heading-h1 h1 {
        font-size: 26px;
    }

    .header-img {
        width: 140px;
    }

    .top-header {
        display: none;
    }

    .p-menubar-button {
        margin-right: 10px;
    }

    .p-menubar {
        padding: 5px 0;
    }

    .p-menubar-start {
        width: 200px;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .p-menubar-start img {
        width: 100%;
    }

    .ant-menu-horizontal {
        line-height: 0px !important;
    }

    .mid-header .logo {
        width: 70%;
        padding: 12px;
    }

    .category-plate {
        padding: 0 35px;
        box-sizing: border-box;
    }

    .single-card {
        width: 100%;
    }

    .about {
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .category .single-card {
        height: 270px;
    }

    .about .detail-heading h2 {
        font-size: 30px;
    }

    .about .detail-heading p {
        font-size: 14px;
        line-height: 20px;
        color: gray;
        font-weight: 500;
    }

    .about .list-right {
        width: 100%;
    }

    .about .detail-list ul li {
        margin-top: 10px;
        font-size: 15px;
    }

    .about .detail-heading::after {
        height: 38%;
    }

    .about .image {
        padding: 0;
    }

    .about .ant-row {
        flex-direction: column-reverse;
    }

    .about .detail-list ul {
        width: 100%;
    }

    .about .detail-list {
        flex-direction: column;
    }

    .about .detail-bottom {
        flex-direction: column;
    }

    .about .detail-bottom p {
        width: 100%;
    }

    .about .detail-bottom .link-btn {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
    }

    .choose .choose-text {
        width: 100%;
    }

    .choose .text-card {
        padding: 35px;
        box-sizing: border-box;
        margin-top: 0;
    }

    .choose-heading {
        margin-top: 50px;
    }

    .banner-user-title h1 {
        font-size: 32px;
        line-height: 1.3;
        display: block;
    }

    .banner-user-title {
        width: 100% !important;
    }

    .banner-user-title p {
        font-size: 14px;
        margin-top: 10px;
        line-height: 1.1;
    }

    .leftb::after {
        width: 3px;
    }

    .leftb::before {
        height: 3px;
        width: 100px;
    }

    .rightb::after {
        width: 3px;
    }

    .rightb::before {
        height: 3px;
        width: 100px;
    }

    .inoverlay {
        width: 80%;
        padding: 50px 20px;
        height: auto;
    }

    .inoverlay a {
        padding: 10px 15px;
        font-size: 14px;
        width: fit-content;
        margin: 15px auto 0;
    }

    .trusted {
        padding: 40px 0 60px;
    }

    .c-content h3 {
        font-size: 20px;
    }

    .trusted .cardt {
        height: 70px;
        padding: 15px 25px;
    }

    .trusted .cardt img {
        width: 80px;
    }

    :root {
        --swiper-navigation-size: 28px;
    }
    .companyprofiletext {
        padding: 25px;
    }
    .companydetails {
        margin: 20px 0;
    }
    .aboutpage {
        padding: 40px 0 0px;
        box-sizing: border-box;
    }
    .expert .all-carde {
        margin-top: 0px;
        padding: 40px;
        box-sizing: border-box;
    }
    .expert .carde{
        height: 350px;
        margin-top: 15px;
    }
    .csrtext {
        padding: 25px;
    }
    .footer {
        padding: 35px;
    }

    .avialableflats .p-chip {
        width: 100%!important;
        border-radius: 5px !important;
    }

    .p-panelmenu{
        justify-content: center;
        width: 100%!important;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .avialablecard {
        box-sizing: border-box;
        padding: 0 40px ;
    }
    .p-panelmenu .p-panelmenu-panel {
        margin-bottom: 4px;
        width: 45%;
    }
    .image-gallary .gallaryimg {
        height: 90px;
    }
    .flatsdetails .image{
        height: auto;
    }
    .aftersale{
        padding: 25px;
        box-sizing: border-box;
        margin-bottom: 0px;
    }
    .subheading p{
        font-size: 14px;
    }
    .aftersale img{
        display: none;
    }
    .aftersaletext {
        padding: 25px 0;
    }
    .owner{
        padding: 25px;
        box-sizing: border-box;
    }
    .ownertext{
        padding: 25px 0;
    }
    .owner .title-text{
        padding: 25px 0;
    }
    .aftersale .title-text{
        padding: 25px 0;
    }
}
