.banner {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

/*  slide */

.banner .all-banner {
    width: 100%;
    height: 100vh;
}


.banner .single-banner {
    width: 100%;
    height: 100vh;
    position: relative;
}

.banner .single-banner .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner .single-banner img {
    width: 100%;
    height: 100%;
}

.inoverlay {
    width: 50%;
    height: 40%;
    background: #00000069;
    margin-top: -130px;
    position: relative;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.inoverlay h1 {
    font-family: 'Poppins', sans-serif !important;
    font-size: 68px;
    font-weight: 600;
    color: white;
    text-align: center;
    z-index: 11111;
}

.inoverlay p {
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px;
    font-weight: 300;
    color: rgb(223, 223, 223);
    text-align: center;
    z-index: 11111;
}

.inoverlay a {
    padding: 10px 25px;
    background: transparent;
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    color: white;
    border: 1px solid white;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    z-index: 11111;
    width: fit-content;
    margin: 20px auto;
}

.inoverlay h1 span {
    color: rgb(255, 178, 0);
    font-style: italic;
    font-family: 'Oleo Script', cursive;
}

.leftb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 11;
}

.rightb {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.rightb::after {
    position: absolute;
    content: '';
    height: 25%;
    width: 10px;
    background-color: rgb(255, 178, 0);
    bottom: 0;
    right: 0;
    transition: 0.5s;

}

.rightb::before {
    position: absolute;
    content: '';
    height: 10px;
    width: 15%;
    background-color: rgb(255, 178, 0);
    right: 0;
    bottom: 0;
    transition: 0.5s;
}

.leftb::after {
    position: absolute;
    content: '';
    height: 25%;
    width: 10px;
    background-color: rgb(255, 178, 0);
    top: 0;
    transition: 0.5s;

}

.leftb::before {
    position: absolute;
    content: '';
    height: 10px;
    width: 15%;
    background-color: rgb(255, 178, 0);
    left: 0;
    top: 0;
    transition: 0.5s;
}

.banner-anim {
    min-height: 100% !important;
}
.ov-cont{
    position: absolute;
    z-index: 9999;
}