.top-header {
    width: 100%;
    height: 35px;
    background: #014a69;
    justify-content: space-between;
    display: flex;
}

.top-header .container {
    display: flex;
    justify-content: space-between;
}

.top-header .left {
    display: flex;
    width: 50%;
    align-items: center;
}

.top-header .left p {
    color: #ffff;
    font-size: 12px !important;
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    font-weight: 300;
    margin-right: 20px;
    margin-left: 5px;
}

.top-header .right {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: end;
}

.top-header .right p {
    color: #ffff;
    font-size: 12px !important;
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    font-weight: 300;
    margin-right: 20px;
    margin-left: 5px;
}




.top-header .anticon svg {
    width: 25px !important;
    height: 25px !important;
    color: white;
    background: #3f3f3f3b;
    padding: 5px;
    display: flex;
    align-items: center;
}

.mid-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100px;

}


/* ///////////////////// Footer start////////////////// */



.footer {
    padding: 40px 0 20px;
    background: rgb(31, 31, 31);
    width: 100%;
}

.foot {
    display: flex;
    flex-direction: column !important;

}

.footer-col {
    margin: 0 auto !important;
}

.footer-title {
    font-weight: 600;
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
}
.footer-col li{
    font-weight: 300;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;}

.footer-li {
    color: rgb(192, 192, 192);
    font-weight: 400;
    font-size: 14px;
    margin: 15px 0;
    cursor: pointer;
    width: 80%;
    display: flex;
    align-items: center;
}

.footer-col ul li{
    margin: 15px 0;
}
.footer-col ul li a{
    margin-top: 15px;
    color: rgb(192, 192, 192);
    font-weight: 400;
    font-size: 14px;
}

.user-account {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
    width: 25%;
    justify-content: flex-end;
}

.user-account img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid #638c9d88;
}

.user-account span {
    font-size: 16px;
    font-weight: 600;
    color: #014a69;
}

/* responsive start */





/*--------------------------------------------------------------
4. Header
--------------------------------------------------------------*/



#header {
    width: 70%;
}

.navigation {
    width: 100%;
}

.site-header #navbar {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    /*** mega-menu style ***/
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar-brand {
    width: 255px;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
}

.nav li a {
    color: #014a69;
}

.site-header #navbar>ul li a:hover,
.site-header #navbar>ul li a:focus {
    text-decoration: none;
    color: #f47425 !important;
}

.site-header #navbar>ul li.active a {
    color: #f47425 !important;
    background: none;
}


.ant-dropdown-menu-title-content a{
    font-weight: 600;
}

.site-header #navbar>ul>.menu-item-has-children>a {

    font-size: 14px !important;
}

.site-header #navbar>ul>.menu-item-has-children>a:before {

    content: "\e64b";
    font-size: 8px;
    font-size: 0.5rem;
    position: absolute;
    right: 5px;
    top: 41%;
}
.site-header #navbar>ul li a {
    font-size: 18px ;
    font-family: 'Poppins', sans-serif ;
}

@media screen and (min-width: 992px) {

    .site-header #navbar li {
        position: relative;
    }

    .site-header #navbar>ul>li>a {
        font-size: 15px;
        font-size: 0.9375rem;
        padding: 40px 18px;
    }

    .site-header #navbar>ul .sub-menu {
        background-color: #222328;
        width: 220px;
        position: absolute;
        left: 0;
        top: 62px;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        

    }


    .site-header #navbar>ul .sub-menu a{
        font-size: 16px ;
        font-family: 'Poppins', sans-serif ;
        transition: 0.3s;
    }

    .site-header #navbar>ul .sub-menu:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 10px 9px;
        border-color: transparent transparent #222328 transparent;
        margin: 0 0 0 20px;
        padding-top: 1px;
        position: absolute;
        top: -11px;
    }

    .site-header #navbar>ul .sub-menu .sub-menu:before {
        display: none;
    }

    .site-header #navbar>ul>li .sub-menu li {
        border-bottom: 1px solid #35363a;
    }

    .site-header #navbar>ul>li .sub-menu li:last-child {
        border-bottom: 0;
    }

    .site-header #navbar>ul>li .sub-menu a {
        font-size: 13px;
        font-size: 0.8125rem;
        display: block;
        padding: 13px 20px;
        color: #c1c1c1;
        text-transform: capitalize;
    }

    .site-header #navbar>ul>li .sub-menu a:hover {
        padding-left: 25px;
    }

    .site-header #navbar>ul>li>.sub-menu .sub-menu {
        left: 100%;
        top: 0;
    }

    .site-header #navbar>ul>li>.sub-menu>.menu-item-has-children>a {
        position: relative;
    }

    .site-header #navbar>ul>li>.sub-menu>.menu-item-has-children>a:before {
        font-family: "themify";
        content: "\e649";
        font-size: 11px;
        font-size: 0.6875rem;
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .site-header #navbar>ul>li:hover>.sub-menu {
        top: 100%;
        visibility: visible;
        opacity: 1;
        top: 62px;
    }

    .site-header #navbar .sub-menu>li:hover>.sub-menu {
        left: 100%;
        visibility: visible;
        opacity: 1;
    }
}





